{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ramco Institute of Technology</title>

<body>

    <div class="rit"></div>
    <div class="home_button" style="max-width: 150px; margin-top: 20px;">

        {% comment %} <a href="{% url 'index' %}" class="btn btn-primary btn-block" style="vertical-align: middle"> {% endcomment %}
            <span>Home Button</span>
        </a>
                        </div>
    <div class="container">
        <div class="heading">RIT CGPA CALCULATIONM</div>
        <form method="post" action="{% url 'course_index' %}" enctype="multipart/form-data"  >
        {% csrf_token %}
            <div class="form-all">
                <div class="admission">
                <span class="title"><b>GradeTrack</b></span>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="batch">Batch</label>
                        <input type="text" name="batch" class="form-control" placeholder="Enter batch'" required/>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="semester">semester</label>
                        <select name="semester" id="semester" class="form-control"  required>
                            <option  value="" disabled selected>Select</option>
                            <option value="1st_semester">1st_semester</option>
                            <option value="2nd_semester">2nd_semester</option>
                            <option value="3rd_semester">3rd_semester</option>
                            <option value="4th_semester">4th_semester</option>
                            <option value="5th_semester">5th_semester</option>
                            <option value="6th_semester">6th_semester</option>
                            <option value="7th_semester">7th_semester</option>
                            <option value="8th_semester">8th_semester</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Department">Department</label>
                        <select name="Department" class="form-control"  required>
                            <option  value="" disabled selected>Select</option>
                                <option value="B.TECH AD">AD-ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</option>
                                <option value="B.E CIVIL">CE-CIVIL ENGINEERING</option>
                                <option value="B.TECH CSBS">CB-COMPUTER SCIENCE AND BUSINESS SYSTEM</option>
                                <option value="B.E CSE">CS-COMPUTER SCIENCE AND ENGINEERING</option>
                                <option value="B.E EEE">EE-ELECRICAL AND ELECTRONICS ENGINEERING</option>
                                <option value="B.E ECE">EC-ELECTRONICS AND COMMUNICATION ENGINEERING</option>
                                <option value="B.TECH IT">IT-INFORMATION TECHNOLOGY</option>
                                <option value="B.E MECH">ME-MECHANICAL ENGINEERING</option>
                            </select>                    
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Year">How many courses are there</label>
                        <input type="number" name="course_count" class="form-control" placeholder="Enter number'" required/>

                    </div>
                </div>
               
            </div></div>
           
        <div class="but" style="margin-left: 850px;">
            <button type="submit" class="btn btn-primary">Next_page</button>
        </form>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
